body{
    background-color: black;
   
}

p{
    margin-top: 0px;
    color: white;
    
}

#signature{
    margin-top: 20px;
    font-size: 20px;
}

h1{
    color: white;
    font-size: 128px;
    font-family: "Orbitron", sans-serif;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2{
    color: white;
    text-align: center;
    padding-bottom: 25px;
    font-family: "Orbitron", sans-serif;
    font-size: 28px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items:center;
}

textarea{
    background-color: black;
    border: white 3px solid;
    border-radius: 10px;
    color: white;
    text-align: start;
    resize: none;
    width: 400px;
    height: 160px;
    font-size: 18px;
    padding: 10px;
    box-sizing: border-box;
}

div>#buttons>button{
    margin: 15px 10px 0px 10px;

}

button{
    margin-top: 15px;
    font-family: "Orbitron", sans-serif;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 16px;
}

button:hover{
    background-color: white;
    color: black;
}

label{
    color: white;
    font-size: 16px;
    border: 1px solid white;
    margin-right: 10px;
    padding: 4px;
    border-radius:5px;
    font-family: "Orbitron", sans-serif;
}

#speed{
    width: 50%;
}

#parameters{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.box{
    border: solid 3px white;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    height: 139px;
    width: 374px;
    background-color: black;
    padding: 10px;
}

.box>p{
    display: flex;
    flex-wrap: wrap;

}

@media (min-width:400px) and (max-width:600px){
    h1{
        font-size: 24px;
    }
    h2{
        font-size: 16px;
    }
    .box{
        width: 204px;
        height: 129px;
    }
    textarea{
        width: 100%;
    }
    button{
        margin: 50px 0px;
    }
    
}
